# Запрещаем скачивать файлы с паролями и служебные файлы
<FilesMatch "^(config\.php|crypto-tables\.sql|.*\.md)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
